.edit-entity-viewer {
  border: 1px solid black;
  height: 75vh;
  width: 100%;
  margin: auto;
}

.edit-entity-container {
  margin-bottom: 100px;
}

.edit-entity-button {
  margin: 20px;
}
