.date-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.25rem 0 0.25rem;
}

.choose-year-top {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.choose-year-top .date-dropdown-container {
  font-size: 26px;
  margin: 0px 10px;
}

.choose-year-top .date-dropdown-container span {
  font-size: 28px;
  margin: 0px 5px;
}

.choose-year-top .date-dropdown-container .date-dropdown {
  font-size: 26px;
  padding: 8px 20px;
  border-radius: 8px;
  user-select: none;
  outline: none;
}

.nav__monthes {
  border-bottom: 1px solid #b8b8b8;
  display: flex;
  margin: 10px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.nav__monthes > * {
  flex: 1 1 120px;
}

.nav__item:last-child {
  border-right: none;
}

.nav__item {
  margin: 10px;
  border-left: 1px solid #bbb;
  display: block;
  color: rgb(255, 255, 255);
  background-color: rgb(196, 152, 41);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

.disabled__nav__item {
  margin: 10px;
  border-left: 1px solid #bbb;
  display: block;
  color: rgb(255, 255, 255);
  background-color: rgb(168, 168, 168);
  text-align: center;
  padding: 14px 16px;
  cursor: auto;
  font-size: 18px;
}
