.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 90vh;
  overflow-x: hidden;
  position: relative;
}
.showTextDiv {
  width: 30%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.scroll {
  margin: 4px, 4px;
  /* padding: 4px; */

  height: 30vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a1a1a1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(223, 24, 24);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(52, 7, 248);
}
.commentDiv {
  border: 1px solid black;
  border-radius: 5px;
  margin: 2% 0;
  width: 90%;
  padding: 4px;
}

.multipleTags {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.view-newspaper-button {
  width: 120px;
  font-size: 18px;
  padding: 4px 10px;
}

.addNote {
  margin-left: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
}

.tabPanelBody {
  max-width: 30vw;
  min-width: 30vw;
  padding: 5px 10px;
}

.closeButton {
  position: absolute;
  left: 4px;
  top: 4px;
  text-align: left;
  cursor: pointer;
  z-index: 99;
}

.editOverlays {
  position: absolute;
  right: 5px;
  top: 4px;
  text-align: left;
  cursor: pointer;
}
