.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.ShowTextDiv {
  width: 30%;
  height: 70%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.CommentDev {
  border: 1px solid black;
  border-radius: 5px;
  margin: 2%;
}
.multipleTags {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.view-newspaper-button {
  width: 120px;
  font-size: 18px;
  padding: 4px 10px;
}
