.articleSidebar {
  width: 30vw;
  height: 75vh;
  background-color: white;
}

.articleWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100% - 125px);
}

.articleContainer {
  background-color: #ddd;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  cursor: pointer;
  font-size: bold;
  position: relative;
}

.articleTitle {
  display: flex;
  flex-grow: 1;
  text-align: right;
}

.overlayWrapper {
  background-color: #f0f2f5;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.overlay {
  position: relative;
  cursor: pointer;
}

.deleteOverlay {
  position: absolute;
  right: 20px;
  top: 0px;
}

.showDataModal {
  position: absolute;
  right: 40px;
  top: 0px;
}
