.header {
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  background-color: #131921;
  top: 0;
  z-index: 100;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
  color: white;
}

/* ################################################ */

.header__search {
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin-right: auto;
  width: 25vw;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
  position: relative;
  right: 20px;
  border-radius: 0 25px 25px 0;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  margin-left: 10px;
  border: none;
  width: 90%;
  border-radius: 25px;
  outline: none;
  padding-right: 2vw;
}
