.home_container {
  display: flex;
  justify-content: space-between;
}
.rightSide {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-row {
  margin-top: 50px;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin-right: 2vw;
}

.submit {
  width: fit-content;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #cd9042;
  margin: auto;
  margin-top: 2vh;
  padding: 6px 20px;
  font-size: 30px;
}
.submit:hover {
  background-color: #f58e08;
  transition: all 0.2s ease-in-out;
}

.circle {
  background-color: antiquewhite;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  height: 22vh;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2vw;
}

.item span {
  font-size: 30px;
}

.leftSide {
  margin-top: 20px;
  margin-left: 5%;
}
.form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 25px;
}

.box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.box textarea {
  width: 30vw;
  height: 15vh;
  font-size: 20px;
}

.articleOfTheDayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.articleOfTheDay {
  font-size: 30px;
}

.articleOfTheDayImage {
  margin-top: 30px;
  width: 300px;
}
