.tag-input {
  font-weight: bold;
  border: 3px solid black;
  min-width: 140px;
  padding: 5px;
  margin: 5vh;
  font-size: 22px;
  border-radius: 8px;
  text-align: center;
  user-select: none;
}

.tag-ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  text-align: center;
}

.tag-li {
  margin: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 3px solid black;
  min-width: 140px;
  padding: 5px;
  border-radius: 8px;
}

.tag-span {
  font-weight: bold;
  font-size: 18px;
  margin: auto;
}
