.newsContainer {
  margin: 0 auto;
  margin-top: 2.5%;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 200px;
}

.newsContainer > div {
  width: 25%;
}
