.newspaper-square .news {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.newspaper-square .pic {
  width: 150px;
  height: 150px;
  border: 1px black solid;
  border-radius: 8px;
  box-shadow: rgb(82, 82, 82) 0px 2px 6px 0px;
  margin-bottom: 5px;
}

.newspaper-square .publisherName {
  margin-top: 5px;
  text-shadow: rgba(144, 144, 144, 0.658) 0px 1px 4px;
}

.newspaper-square .click {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  text-decoration: none;
  color: inherit;
}

.newspaper-square .click:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.newspaper-square .click:active {
  transform: scale(1.1);
}
